html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  color: black;
  height: 100%;
}

ul {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #fff;
}

.container__analysis {
  width: 1920px;
  /* width: 100vw; */
  height: 755px;
  margin: 0px auto;
  padding: 1px 10px;
  background-image: url(/images/topimg.jpg);
  background-repeat: no-repeat;
  background-position: 550px;

  /* border-top: 0.5px solid #ababab;
  border-bottom: 0.5px solid #ababab; */
}

.border-line-bot {
  width: 100%;
  border-bottom: 0.5px solid #ababab;
  margin: 13px 0px 0px 0px;
  /* margin-top: 13px; */
}

.border-line-top {
  width: 100%;
  border-top: 0.5px solid #ababab;
  margin: -2px;
  /* margin-top: 13px; */
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Exo 2", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
}

.header__inner {
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.menu__list-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo__img {
  width: 130px;
  height: 41px;
}

.logo {
  width: 130px;
  height: 41px;
  padding-left: 30px;
}

.menu__list-text {
  text-align: right;
}

.menu__list-tlg,
.menu__list-wtp {
  width: 30px;
  height: 30px;
}

/* Секция топ с вопросами */

.questions {
  margin-top: 70px;
  margin-left: 490px;
}

.questions__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.questions__answare {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.green-word {
  color: #1e8e31;
}

.questions__list {
  display: flex;
  flex-direction: column;
  counter-reset: myCounter;
}

.questions__list-item {
  list-style-type: none;
  width: auto;
  padding-left: 77px;
}

.questions__list-item::before {
  counter-increment: myCounter;
  content: "0" counter(myCounter);
  display: inline-block;
  position: relative;
  right: 70px;
  top: 42px;
  /* justify-content: center;
  align-items: center; */
  color: #1e8e31;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  width: 50px;
  height: 48px;
}

.answer__link {
  position: relative;
  bottom: 255px;
  left: 500px;
}

.icon-numb {
  position: relative;
  right: 135px;
  top: 38px;
}

.questions__list-text {
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.team-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}

.card__team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card__team-text {
  font-size: 20px;
  font-weight: 400px;
  padding-left: 40px;
  /* padding: 10px 40px 30px 40px; */
}

.card__team-item {
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;

  border-radius: 5px;
  width: 345px;
  height: 240px;
}

.card__team-img {
  padding: 30px 265px 20px 40px;
}

.team__inner {
  margin-left: 90px;
}

.comanda__img {
  width: 1110px;
}

.comanda__logotip {
  position: relative;
  width: 120px;
  top: 85px;
  left: 55px;
}

.comanda {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.helping {
  margin-top: 90px;
}

.helping__inner {
  display: flex;
  justify-content: center;

  padding-left: 65px;
}

.container__helping {
  width: 100%;
  height: 700px;
  background-image: url(/images/fonemploye.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container__adress {
  max-width: 1220px;
  margin: 80px auto;
  padding-left: 65px;
}

.adimg-left,
.adimg-right {
  position: absolute;
  z-index: -1;
}
.adimg-right {
  right: 1px;
}
/* .container__adress {
  width: 1220px;
  height: 820px;
} */

.helping__contacts {
  max-width: 1100px;
  padding-top: 48px;
  margin: 0;
}

.helping__contacts-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.helping__contacts-item {
  width: 360px;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  text-align: center;
}

.consultation {
  display: grid;
  gap: 20px;
}

/* .helping__contacts-item form input {
  grid-column: 1;
}

.helping__contacts-item form input[name="phone"] {
  grid-column: 2;
}

.helping__contacts-item form input[name="email"] {
  grid-column: 3;
} */

.employe-img {
  margin-top: 20px;
  width: 273px;
  height: 273px;
}

.emp-name {
  font-size: 20px;
  font-weight: 700;
}

.emp-text {
  font-size: 20px;
  font-weight: 400;
}

.emp-phone {
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 700;
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  padding-top: 30px;
}

.form-copy {
  font-size: 11px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 30px;
}

.text-pec {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  position: relative;
  top: 14px;
}

.tlp-img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  right: 4px;
}

.form-input {
  width: 306px;
  height: 63px;
  padding: 20px 15px;
  color: #ababab;
  border: 2px solid #ababab;
  border-radius: 4px;
  font-size: 15px;
  font-family: Inter;
  font-weight: 500;
  line-height: 23px;
}

.form-btn {
  width: 306px;
  height: 63px;

  padding: 20px 30px;
  color: white;
  background-color: #1e8e31;
  border-radius: 4px;
  border-style: none;
  font-size: 17px;
  font-family: Inter;
  font-weight: 700;
  line-height: 23px;
}

.adress {
  display: flex;
}

.adress__inner {
  display: flex;
  gap: 50px;
}

.adress__contacts {
  display: grid;
  width: 500px;
  height: 630px;
  align-content: space-between;
  justify-content: center;
  justify-items: start;
}

.adress__numbers-list {
  width: 294px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.adress-text {
  font-size: 20px;

  font-weight: 400;
}

.ad-phone {
  font-size: 30px;
  font-weight: 700;
}

.contact-title {
  font-size: 40px;

  font-weight: 700;
}

.adress__map-road {
  display: grid;
}

.adress__metro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  width: 457px;
  height: 142px;
}

.adress__metro-list {
  list-style-type: none;
  display: grid;
  gap: 3px;
}

.adress__metro-item p {
  font-size: 20px;

  font-weight: 400;
}

.metro-elip {
  position: relative;
  right: 13px;
}

.adress__social-item {
  display: flex;
  gap: 20px;
}

.adress__links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.adress__social-item a {
  display: flex;
  gap: 20px;
}

.text-tlg {
  color: #168fc0;
  font-size: 20px;
  font-weight: 400;
}

.text-wtp {
  color: #2db475;
  font-size: 20px;
  font-weight: 400;
}

.adress__map-road p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-top: 24px;
}

.footer__inner {
  width: 100%;
  height: 82px;
  border-top: 0.5px solid #ababab;
  background-color: #eeeeee;
}

.footer__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 33px;
  gap: 380px;
}

.footer-copy {
  color: #767676;
  font-size: 15px;
  font-weight: 300;
}

.footer-link p {
  color: #767676;
  font-size: 15px;
  font-weight: 300;
  text-decoration: underline;
}

.questions__inner {
  display: flex;
  flex-direction: row;
  gap: 228px;
}

.advantages-img {
  width: 40px;
  height: 40px;
}
